*{
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow: hidden;

}
.login__wrapper{
    
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login__input{
    width: 300px;
    height: 32px;
    margin-bottom: 10px;
}
.login__button{
    display: block;
    width: 300px;
    height: 32px;
}

.room_card{
    width: 300px;
    height: 500px;
    background-color: #f6f6f6;
    box-shadow: 10px 10px 10px #adadad;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    padding: 10px;
}
.room_title{
    text-align: center;
}
.room_count{
    text-align: center;
}
.room_list{
    margin: auto;
}

#canvas{
    display: block;
    width: 75vh;
    height: 75vh;
    margin: auto;
    /* margin-top: 10px; */
}

#controller{
    position: fixed;
    width: 150px;
    height: 150px;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    border-radius: 100%;
    background-color: rgba(0, 0, 0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
#controller_center{
    position: relative;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 101;
    width: 50px;
    height: 50px;
    z-index: 101;
    border-radius: 100%;

}